#container{
  width: 1100px;
  margin: auto;
}

#header-container{
  height: 180px;
  background-color: #4EA0FF;
  background-image: url(../img/pattern.png);
}

#logo{
  height: 40%;
  margin-top: 100px;
}

h1 {
  font-size: 40px;
  margin-bottom: 0;
}

.color-blue{
  color: #20A9E5;
}

.color-gray{
  color: gray;
}

.small-size{
  font-size: 12px;
}

.images{
  margin: 15px 0;
}

.highlight-yellow{
  background-color: yellow;
}

.list{
  padding-left: 15px;
}

table{
  border-collapse: collapse
}

th{
  background-color: #20A9E5;
  color: #FFFFFF;
}

.td-narrow{
  width: 20%;
  text-align: left;
}

.td-wide{
  width: 50%;
  text-align: left;
}

.bkgrd-blue{
  background-color: #B1E5F2;
}

#footer-title{
  color: gray;
  margin-top: 30px;
  margin-bottom: 0;
}

.footer-img{
  color: #FFFFFF;
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px 0;
}

#footer-img1{
  background-image: url(../img/monitor.jpg);
}

#footer-img2{
  background-image: url(../img/graph.jpg);
}

.footer-img-title{
  padding: 10px;
  margin: 0;
}