#container{
  width: 80%;
  margin: auto;
}

#header-container{
  height: 180px;
  background-color: #4EA0FF;
  background-image: url(../img/pattern.png);
}

#logo{
  height: 40%;
  margin-top: 100px;
}